* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;


}

.btn-primary {
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    /* width: 150px; */
    background: #FD6E0A;
    border-radius: 5px;
}

.btn-c {
    width: 113px;
    height: 27px;
    padding: 18px 35px;
    border-radius: 5px;
}

.header {
    background: #FFF8F3;
    background-image: url(/images/header_bg.png), url(/images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* ............nav bar......... */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav ul {
    display: flex;
    /* margin-left: 50px; */
    align-items: center;

}

nav ul li {
    margin-left: 50px;
}

nav li {
    list-style: none;
}

.nav title {
    font-weight: 1200;
    font-size: 45px;
    font: Manrope;
}

.text-primary {
    color: #FD6E0A;
}

/* ..............banner style........... */
.banner {
    display: flex;
    align-items: center;
    margin: 0 200px;
}

.banner-t {
    font-weight: 700;
    font-size: 85px;
    margin-top: 5px;
}

.banner-st {
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 5px;


}

.banner-d {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

/* .........................main starts here.......................... */
main {
    /* max-width: 1140px; */
    /* margin: 0, auto; */
    /* max-height: ; */
    text-align: center;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}



section {
    margin-top: 130px;
}


/* .....................about starts here................... */
.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    /* margin: 0, auto; */
}

.section-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;
}


.section-description {
    color: #757575;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

/* ....................what I do starts here..................... */
section {
    margin-top: 130px;
}

.skills-container {
    display: flex;
    gap: 24px;
    margin-top: 80px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

/*....................... resume starts here........................ */
.pera {
    display: flex;
    gap: 24px;
}


/* .resume-content {
    display: flex;
    gap: 24px;
} */

.resume-item {
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume .title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-top: 10px;
}

.resume .sub-title {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;

}

.resume .description {
    color: #757575;

}

.resume-btn {
    margin-top: 50px;

}

/* ................contact start here.............. */



.contact {
    display: flex;
    gap: 100px;
    padding: 130px 200px;
}

.contact .section-title {
    text-align: left;
}

.contact input,
textarea {
    margin: 24px;
    width: 100%;
    padding: 18px 30px;
}

input {
    height: 64px;
}

.contact a {
    text-decoration: none;
}